<form method="post" action="{{ path('inventory') }}">
    <p1>Введите имя человека</p1> <input type="text" name="name">
  <p1>Введите название предмета</p1>  <input type="text" name="nazvanie">
    <input type="submit" value="отправить">
</form>