<form method="post" action="{{ path('subject') }}">
    <p1>Введите название предмета</p1> <input type="text" name="nazvanie">
  <p1>Введите редкость предмета</p1>  <input type="text" name="redcost">
   <p1>Введите цену предмета </p1> <input type="number" name="price">
    <input type="submit" value="отправить">
</form>
<form method="post" action="{{ path('subject') }}">
<p1>"Введите название предмета для удаления"</p> <input type="text" name="name">
 <button type="submit">Удалить</button>
 </form>

  <form method="post" action="{{ path('people') }}">
   <p1>"Введите старое имя"</p1> <input type="text" name="old_name">
    <p1>"Введите новую редкость предмета"</p1> <input type="text" name="new_redkost">
    <p1>"Введите новую цену"</p1> <input type="text" name="new_price">
    <button type="submit">Обновить</button>
</form>